.wrapper {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-template-rows: 23.5% 23.5% 23.5% 23.5%;
  border: 2px solid #282828;
  background-color: #928374;
  width: 80%;
  aspect-ratio: 1/1;
  gap: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  border-radius: 5%;
  padding: 1%;
  padding-bottom: 2%;
}

.wrapper > .filled {
  border-radius: 20%;
  padding-top: 0.8em;
  font-size: 2em;
  font-family: monospace;
  text-align: center;
  overflow: hidden;
}
